{% extends 'index.htm' %}

{% block title %}
管理者用ページ
{% end %}

{% block style %}
<style>p{margin:5px}</style>
{% end %}

{% block header %}
{% end %}

{% block body %}
    <form method="post" action=/{{db}}/admin/set/ style=text-align:center>
    {% module xsrf_form_html() %}   
    <p>削除したい記事のチェックボックスにチェックを入れ、削除ボタンを押して下さい</p>
    <p><br></p>
    <label><p>パスワードの変更
      <input type="password" style="HEIGHT: 23px; WIDTH: 85px" name="pass" value="{{password}}">
      </p>
    </label>
    <p>
    <input type="checkbox" value="on" name="mente" {{mente}}>メンテナンス表示</p>
    <p><input type="submit" value="変更"></p>
    <p><a href="/logout">ログアウト</a></p>
    </form>
    <form style=text-align:center method="post" action=/{{db}}/admin/del/>
    {% module xsrf_form_html() %}   
    <table style=margin:auto border="0" cellspacing="0">
    <tr bgcolor="#bbbbbb"><th>削除
</th><th>記事No
</th><th>投稿日
</th><th>題名
</th>
    <th>投稿者
</th></tr>
    {% for record in records %}
    <tr>
	<th><input type=checkbox name=item value="{{record['number']}}"></th>
	<th>{{record['number']}}</th>
	<th style=size:-1>{{record['date']}}</th>
	<th style=size:-1;color:#D01166;bold>{{record['title']}}</th>
	<th style=color:#007000;bold>{{record['name']}}</th>
	</tr>
    {% end %}
    </table>
    <input type="submit" value="削除する">&nbsp; <input type="reset" value="リセット">
      </form>
    {% module Footer(position,'/'+db+'/admin','') %}
{% end %}

{% block footer %}
    <p style=text-align:center><a href=/{{db}}>掲示板へ戻る</a></p>	
{% end %}
