
section#number {
    display:inline
}

section#title {
    display:inline;
    font:bold;
    font-size:1.2em;
    color:#D01166;
}

section#name h1 {
    font:bold;
    font-size:1em;
    color:#007000;
    margin:0;
}

section#date h1 {
    font-size:1em;
    margin:0;
}

section h1 {
    display:inline
}

header {
    margin:auto;
    border:solid 1px #aaaaaa;
    box-shadow:0 2px 3px #cccccc,
               0 0 #ff8800 inset;
    padding:18px;
    border-radius:5px;
    background:-webkit-linear-gradient(#ffffff 0%,#014471 50%,
        #014471 51%,#ffffff 100%);
    overflow:hidden;
    width:100%
}

span {
    color:#ff0000
}

form#search {
	border:solid;
	display:inline-block;
}
