<nav aria-label="Page navigation">
	<ul class="pagination pagination-sm justify-content-center">	
	{% for x in range(10) %}		
		{% if index == x+1 %}		
		<li class="page-item active">
		{% else %}
		<li class="page-item">			
		{% end %}
		<a class="page-link" href="{{url}}/{{x+1}}/{{link}}">{{x+1}}</a></li>
	{% end %}
		{% if index == 0 %}
		{% set s = ' active' %}
		{% else %}
		{% set s = '' %}
		{% end %}
		<li class="page-item{{s}}"><a class="page-link" href={{url}}/0/{{link}}>さいご</a></li>
	</ul>
</nav>