<!DOCTYPE html>

<html>
  <head>
    <meta charset=utf-8>
    <title>
    	{% block title %}
		{{data['title']}}
    	{% end %}
    </title>
    {% block style %}
    <link rel="stylesheet" href={{static_url('css/main.css')}}>
	{% end %}
	<script type=text/javascript src=//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js></script>
	<script type=text/javascript src={{static_url('js/jquery-live-preview.js')}}></script>
	<link rel=stylesheet href={{static_url('css/livepreview-demo.css')}}>
	<script type=text/javascript src={{static_url('js/sub.js')}}></script>
	<script src=//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js></script>
  </head> 
  <body>
  {% block header %}
    <a href=/ style=text-decoration:none>{% raw data['title2'] %}</a>
    <header>
    <a name=top></a>
    <form action=/{{db}}/regist method="post">
    {% module xsrf_form_html() %}
      <table>
        <tr><td>
          <label><p>お名前</p><input name="name" class=name value={{username}}></label>
          <label><p>タイトル</p><input name="title" class=title value="{{title}}" placeholder="タイトルなし."></label>
          <input type="submit" value="送信">
        </td></tr>
        <tr><td>
          <label><p>本文<span>必須</span><br></p>
            <textarea style="font-size:1.75em" name="comment" cols=30
                      required placeholder="コメントなどを入力してください.">{{comment}}</textarea></label>
        </td></tr>
        <tr><td>
          <label><p>パスワード</p><input name="password" type="password" placeholder="削除用">
          </label> / <input type="checkbox" name="show" value="true" {{check}}><p>プレビュー</p>
        <tr><td>
          <label><p>合言葉をひらがなで入力してください: gennki <input name=aikotoba type=text value={{aikotoba}}></label>
        </td></tr>
        <tr><td>
          {% raw admin %}
        </td></tr>
      </table>
    </form>
    <button>open</button>
    </header>
    {% raw error %}
    <hr size="1" width="100%">
    <form action=/{{db}}/userdel method="post" id=search>
      {% module xsrf_form_html() %}
      <label><p>記事No</p><input name="number"></label>
      <label><p>Pass</p><input type="password" name="password"></label>
      <input type="submit" value="削除">
    </form>
    <form action=/{{db}}/userdel method=post id=search>
      {% module xsrf_form_html() %}
      <label><p>記事No</p><input name=number></label>
      <input type=submit value=移動>
    </form>
    <p><a href=/{{db}}/search>検索ページ</a></p>
    <p style=text-align:right><a href=#article>下へ移動</a></p>
    <p style=text-align:center>{{db}}</p>
  {% module Footer(position,'/'+db,'#article') %}
  {% end %}
  {% block body %}
    {% for record in records %}
      {% if db == '' %}
        {% set link = record['dbname'] %}
        {% set text = record['dbname']+'-'+str(record['number']) %}
      {% else %}
        {% set link = db %}
        {% set text = record['number'] %}
      {% end %}
    <hr size=1>
	<section id=number><a name={{record['number']}}></a><a href=/{{link}}/userdel?job={{record['number']}} style=text-decoration:none>
		[{{text}}]</a></section>
	<section id=title>{{record['title']}}</section>
	<section id=name>　Name:<h1>{{record['name']}}</h1></section>
	<section id=date>　Date:<h1>{{record['date']}}</h1></section>
	<p>▽▲▽▲▽▲▽
	<section id=comment>{% raw record['comment'] %}</section>
        <section id=master style=text-align:right><a href=/alert?db={{db}}&num={{record['number']}}>報告</a></section>
	<p>△▼△▼△▼△
	{% end %}
	<a name=article></a>
	<p style=text-align:right><a href=#top>Topへ移動</a></p>
  {% end %}
  {% block footer %}
    {% module Footer(position,'/'+db,'#article') %}
    <p style=text-align:center><a href="/{{db}}/admin/0">管理者用ログイン</a></p>
  {% end %}
  </body>
</html>
