<!doctype html>
<html>
<head><meta charset=utf-8><title></title></head>
<body>
<p>訪問者の皆さん
<p>チャンネルを選択してメッセージを書き残しましょう
<p>タイトル表示に切り替えると話題の参考になります.各記事には報告ボタンがついており、問題のある投稿を管理人に通報できます.
<p>以下のフォームから管理人に直接メッセージを送信できます.削除依頼などにお使いくだい.
<form action=/help method=post>
{% module xsrf_form_html() %}
<textarea name=help style=height:100px;width:250px>
投稿者名など：
相談内容：
その他：
</textarea><p><input type=submit value="送信"></form>
<p>{{req}}
<p><br>
<p>開発者の皆さん
<p>pybbsのAPI
<p>ArticleAPI ... ~/read/api/<b>dbname</b>/<b>number</b>
<p>ListAPI ... ~/list/api/<b>dbname</b>
<p><br>
<p>利用規約
<p>これから書きます
<p style=text-align:center><a href=/>戻る</p>
</body></html>