<!doctype html>
<html>
<head><meta charset=utf-8><title>mail</title>
<link rel=stylesheet href={{static_url('css/main.css')}}></head>

<body>
<p>報告一覧
{% for rec in com %}
	<p>{% raw rec['comment'] %}
	<p>{{rec['time']}}
	<hr>
{% end %}
<p><a href=/logout>ログアウト</a>
<form action=/clean method=post>{% module xsrf_form_html() %}
<p>削除済みだけを<input type=submit value='削除'>（要望も消えます）</form>
<form action=/clean?all=true method=post>{% module xsrf_form_html() %}
<p>全ての報告を<input type=submit value='削除'></form>
</body>
</html>